{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <title>SaleKom Home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <!--<script src="{% static 'JS/home.js' %}"></script> -->
</head>
<body>
  <div class="container">
    <div class="TopBar">SaleKom</div>

      {% for category in object_list %}
          <a href="{% url 'category_detail' category.title %}">

              <div class="Category" style="color: red;" >
                <div class="Image">
                  <img src="{{category.image.url}}" alt="{{category.title}}" />
                </div>
                  <h1 class="title">{{category.title}}</h1>

              </div>
          </a>
      {% endfor %}
    </div>
    <div class = "div1">70%</div>
    <div class = "div2">40%</div>
    <div class = "div3">50%</div>
    <div class = "div4">80%</div>
    <div class = "div5">30%</div>
    <div class = "div6">60%</div>
    <div class = "div7">30%</div>
    <div class = "div8">20%</div>
</body>

</html>
